# --- ENVIRONNEMENT PYTHON ---
.venv/
venv/
env/
*.pyc
__pycache__/

# --- JUPYTER ---
.ipynb_checkpoints/
*.ipynb_checkpoints/

# --- DONNÉES GÉNÉRÉES PAR LE PIPELINE ---
data/raw/*
data/staging/*
data/refined/*

# Garder les dossiers
!data/raw/.gitkeep
!data/staging/.gitkeep
!data/refined/.gitkeep

# --- DUCKDB WAREHOUSE ---
warehouse/*
!warehouse/.gitkeep

# --- CONFIG ---
.env

# --- LOGS ---
logs/
*.log

# --- WINDOWS BLOB ---
Thumbs.db
desktop.ini

# --- MISC ---
.DS_Store
