# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
desktop.ini

# Data (si volumineuse)
data/raw/*
data/staging/*
data/refined/*.parquet

# Secrets
.env
