# --- ENVIRONNEMENT PYTHON ---
.venv/
venv/
env/
*.pyc
__pycache__/

# --- JUPYTER ---
.ipynb_checkpoints/
*.ipynb_checkpoints/

# --- DONNÉES GÉNÉRÉES PAR LE PIPELINE ---
data/raw/*.csv
data/staging/*.json
data/refined/*.parquet

# On garde les dossiers (grâce à .gitkeep)
!data/raw/.gitkeep
!data/staging/.gitkeep
!data/refined/.gitkeep

# --- DUCKDB WAREHOUSE ---
warehouse/*
!warehouse/.gitkeep

# --- LOGS ---
logs/
*.log

# --- WINDOWS BLOB ---
Thumbs.db
desktop.ini

# --- MISC ---
.DS_Store
